.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formats-item {
  flex-basis: calc(((100% - 40px) / 3));
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}